<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th style="width: 80px"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${users.isEmpty()}">
                <td colspan="4" align="center">Ни один пользователь не найден</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">ID</td>
                <td th:text="${user.getName()}">Имя</td>
                <td th:text="${user.getSurname()}">Фамилия</td>
                <td th:text="${user.getAge()}">Возраст</td>
                <td><a href="">Обновить</a></td>
                <td><a href="">Удалить</a></td>
            </tr>
        </tbody>
    </table>

    <h3><a href="/new">Добавить пользователя</a></h3>

</body>
</html>